<%- include('partials/head') %>
<%- include('partials/nav') %>

<main>
  <header>
    <article>
      <small>BNR brengt u:</small>
      <h1>BNR Business Beats</h1>
      <q>Lees, luister, leid – De perfecte mix voor de moderne professional.</q>
      <div>
        <button>bekijk nieuws</button>
        <button>muziekspeler</button>
      </div>
    </article>

    <aside>
      <img src="./assets/img/BNR-Logo-Business-Beats.png" alt="het BNR Business Beats Logo"/>
    </aside>

    <div>
      <a class="scroll-mouse" href="#team" aria-label="A link to scroll to the next section (only visible on desktop)">
        <svg viewBox="0 0 8 14" fill="#none" xmlns="http://www.w3.org/2000/svg"><path d="M5.06096 7.03599L0.110961 2.08599L1.52496 0.671993L7.88896 7.03599L1.52496 13.4L0.110962 11.986L5.06096 7.03599Z"/></svg>
      </a>
    
      <a class="swipe-finger" href="#team" aria-label="A link to scroll to the next section (only visible on mobile)">
        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet"><g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" stroke="none"><path d="M2239 4500 c-65 -11 -118 -41 -168 -95 -82 -89 -75 0 -81 -1108 l-5 -988 -145 178 c-248 304 -282 332 -415 341 -180 11 -335 -131 -335 -308 0 -36 5 -82 11 -103 17 -61 1055 -1611 1118 -1670 69 -64 176 -114 271 -127 100 -13 751 -13 864 0 186 22 331 92 463 226 66 67 91 102 131 183 86 171 83 127 80 1106 l-3 860 -30 54 c-33 59 -77 100 -145 133 -63 30 -177 31 -242 1 l-47 -21 -7 46 c-34 242 -321 357 -499 200 l-45 -40 -47 41 c-83 74 -223 92 -321 42 l-42 -21 0 409 c0 396 -1 412 -22 468 -50 135 -195 217 -339 193z m127 -149 c23 -10 52 -34 65 -52 l24 -34 5 -918 5 -919 24 -19 c30 -25 66 -24 91 1 19 19 20 33 20 408 0 382 0 388 23 432 31 63 76 90 147 90 63 0 106 -22 144 -73 20 -27 21 -42 26 -432 5 -378 6 -404 24 -424 24 -27 68 -27 92 0 18 20 19 46 24 424 5 390 6 405 26 432 38 51 81 73 144 73 71 0 116 -27 148 -90 22 -44 22 -48 22 -466 l0 -423 26 -20 c33 -26 55 -26 85 -2 l24 19 5 304 c4 218 9 309 18 325 33 59 127 96 197 79 40 -10 103 -73 115 -114 6 -24 10 -325 10 -830 0 -868 -1 -878 -59 -1007 -81 -176 -248 -310 -437 -350 -98 -21 -864 -21 -942 -1 -67 18 -144 67 -186 120 -18 22 -262 385 -542 805 l-509 763 1 57 c0 67 20 110 70 148 49 37 152 45 200 14 18 -11 143 -155 278 -320 222 -271 250 -301 276 -301 17 0 39 9 50 20 20 20 20 34 20 1083 1 1125 0 1107 47 1159 24 28 91 58 128 58 17 0 48 -9 71 -19z"/></g></svg>
        <span>
          <span></span>
        </span>
      </a>
    </div>
  </header>

  <section id="about">
    <article>
      <h2>Over BNR Business Beats</h2>
      <p>
        BNR Business Beats is de ultieme bestemming waar 
        zakelijk nieuws en inspirerende muziek samenkomen. 
        Onze missie is om professionals en ondernemers te 
        voorzien van de meest relevante en waardevolle informatie, 
        terwijl we hen tegelijkertijd motiveren en inspireren met 
        de beste muziek. Of je nu op zoek bent naar het laatste 
        nieuws uit de zakenwereld, inzicht wilt krijgen in 
        markttrends, of gewoon wilt ontspannen met wat goede 
        muziek tijdens je werkdag, BNR Business Beats heeft het 
        allemaal.
      </p>
    </article>

    <aside>
      <h2>Het belangrijkste nieuws</h2>
      <div></div>
    </aside>
  </section>

  <section id="filter">
    <div class="error-message">
      <h2>Filter functie momenteel niet beschikbaar</h2>
    </div>

    <div class="filter-container">
      <h2>Filter artikel</h2>
      <ul>
        <li><button></button></li>
        <li><button></button></li>
        <li><button></button></li>
        <li><button></button></li>
      </ul>
    </div>
    
  </section>
</main>

<%- include('partials/footer') %>
<%- include('partials/foot') %>
