/* TODO: JS functie voor delayed inladen van scroll / swipe animatie
   TODO: Spacing voor breaking nieuws na het inladen
   TODO: Verwijder div in Breaking news
   TODO: Filter sectie afmaken
   TODO: Laad data in in server */

/* *---- Global styles ---- */

:root {
  --primary-color: #ffd200;
  --color-100: #d7d2cb;
  --color-40: #e9e6e2;
  --color-20: #f2f1f0;
  --color-black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "FSLucas", sans-serif;
}

h1 {
  font-size: 5rem;
  line-height: 4rem;
}

h2 {
  font-size: 1.4rem;
}


@media only screen and (min-width: 464px) {  
  h1 {
    font-size: 6rem;
    line-height: 5rem;
  }
  h2 {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 8rem;
    line-height: 7rem;
  }
  
  h2 {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 7.5rem;
    line-height: 6rem;
  }
  
  h2 {
    font-size: 2rem;
  }
}

body {
  background-color: var(--color-20);
}

/* * ---------- Navigation ---------- */

nav {
  background-color: var(--color-black);
  padding: 0.6rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  /* * Sticky Navbar 🕸 */
  position: sticky;
  top: 0;
  z-index: 10;
}

nav img {
  height: 46px;
  padding: 0.25rem 1rem;
}

nav details summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 30px;
}

summary span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--color-20);
  margin: 3px 0;
}

/* * ---------- Animations ---------- */
summary span:nth-child(1) {
  transition: transform 0.3s ease;
}

summary span:nth-child(2) {
  transition: transform 0.3s ease;
}

summary span:nth-child(3) {
  transition: transform 0.3s ease;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  max-height: 0;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: var(--color-black);
  width: 100%;
  z-index: 1;
}

nav ul li {
  padding: 10px;
}

nav ul li a {
  color: var(--color-20);
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

nav ul li a:hover {
  text-decoration: underline;
  transition: all 0.4s ease-in-out;
}

/* Add the sliding effect */
nav details[open] ul {
  max-height: 300px;
  transition: 0.5s ease-in;
}

@media only screen and (min-width: 1024px) {
  nav {
    padding: 0 12rem;
  }

  nav img {
    height: 60px;
  }

  nav details {
    display: none;
  }

  nav ul {
    display: flex;
    max-height: none;
    position: static;
    flex-direction: row;
    padding: 1rem 0;
  }

  nav ul li {
    padding: 10px 20px;
  }
}

/* * ---------- Main ---------- */

/* * ---------- Header ---------- */

header {
  height: 100vh;
  background-color: var(--color-20);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

header article {
  max-width: 326px;
}

header article small {
  font-size: 1rem;
}

header article h1 {
  margin-top: 0.5rem;
  margin-left: -0.25rem; /*? H1 Left spacing for no reason??? */
}

header article q {
  display: block;
  margin-top: 1rem;
}

header article div {
  display: flex;
  margin-top: 1rem;
}

header article div button {
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: var(--color-black);
  color: var(--color-20);
}

header article div button:nth-of-type(1) {
  margin-right: 1rem;
}

/* * ---------- Aside (Animate on mobile) ---------- */

header aside {
  display: none; /*? Remove display none later for mobile animation */
}

header aside img {
  width: 100%;
}

/* * ---------- Header @media ---------- */

@media only screen and (min-width: 1024px) {
  header {
    padding: 0 6rem;
    justify-content: space-between;
  }

  header article {
    padding: 0 1rem;
    max-width: 50%;
  }

  header article small {
    font-size: 1.5rem;
  }

  header article h1 {
    margin-left: -0.4rem;
  }

  header article q {
    font-size: 1.5rem;
  }

  header article div button {
    padding: 0.5rem 1.5rem;
  }

  /* * ---------- Aside @media ---------- */

  header aside {
    display: block;
    width: 50%;
  }

  header aside img {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  header {
    padding: 0 12rem;
  }
}

/* * ---------- Scroll / Swipe Animation ---------- */

header > div {
	position: absolute;
	left: calc(50% - 2.5rem);
	bottom: 0;
}

@media only screen and (min-width: 1024px) {
		header > div {
		position: absolute;
		left: calc(50% - 1.25rem);
		bottom: 0;
	}
}

/* * ---------- Scroll Animation ---------- */

@keyframes scrollwheel {
  0%,
  50% {
    top: 0;
    opacity: 1;
  }

  80% {
    top: 0.5rem;
    opacity: 0;
  }

  90% {
    top: 0;
    opacity: 0;
  }

  95% {
    top: 0;
    opacity: 0.5;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

a.scroll-mouse {
  border: 2px solid var(--color-black);
  padding: 0.75rem 1rem 1.25rem;
  border-radius: 24px;
  position: relative;
  left: calc(50% - 1.25rem);
  bottom: 2rem;
  transition: 150ms;
  display: none;
}

a.scroll-mouse:hover {
	cursor: pointer;
}

a.scroll-mouse:active {
	border: 2px solid var(--color-100);
}

a.scroll-mouse::before {
	content: "";
	position: relative;
	display: inline-block;
	background-color: var(--color-black);
	width: 0.25rem;
	height: 0.75rem;
	border-radius: 24px;
	animation: scrollwheel 3s infinite;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
	transition: 150ms;
}

a.scroll-mouse:active::before {
	background-color: var(--color-100);
}

a.scroll-mouse svg {
	position: absolute;
	display: inline-block;
	width: 12px;
	height: 21px;
	margin-top: 2px;
	transform: rotateZ(90deg);
	fill: var(--color-black);
	left: calc(50% - 6px);
	top: 3rem;
	transition: 350ms;
}

a.scroll-mouse:hover svg {
	margin-top: 7px;
	cursor: pointer;
}

a.scroll-mouse:active svg {
	fill: var(--color-100);
}

@media only screen and (min-width: 1024px) {
	a.scroll-mouse {
		display: block;
	}
}

/* * ---------- Swipe Animation ---------- */

@keyframes swipe-motion {
  0% {
    top: 2rem;
    right: -3rem;
    transform: rotate(-55deg);
    opacity: 0;
  }

  25% {
    top: 0.25rem;
    right: -2rem;
    transform: rotate(-60deg);
    opacity: 1;
  }

  50% {
    top: 0.25rem;
    right: -2.25rem;
    transform: rotate(-120deg);
    transform-origin: 29px 20px;
  }

  65% {
    opacity: 1;
  }

  75%,
  98% {
    top: -3rem;
    right: -2.25rem;
    transform: rotate(-20deg);
    transform-origin: center;
  }

  98% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes swiped {
  0%,
  50% {
    top: 0;
    opacity: 1;
  }

  80% {
    top: -2rem;
    opacity: 0;
  }

  90% {
    top: 0;
    opacity: 0;
  }

  95% {
    top: 0;
    opacity: 0.5;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

a.swipe-finger {
  position: relative;
  transition: 150ms;
  display: block;
}

a.swipe-finger > span {
	width: 1.75rem;
	height: 1.75rem;
	border: 2px solid var(--color-black);
	border-radius: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	left: calc(50% - 0.5rem);
	top: 0.375rem;
	animation: swiped 4s infinite;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

a.swipe-finger:active > span {
	border: 2px solid var(--color-100);
}

a.swipe-finger > span > span {
	width: 0.95rem;
	height: 0.95rem;
	background-color: var(--color-black);
	border-radius: 100%;
}

a.swipe-finger:active > span > span {
	background-color: var(--color-100);
}

a.swipe-finger svg {
	position: relative;
	top: 2rem;
	right: -3rem;
	width: 5rem;
	height: auto;
	fill: var(--color-black);
	transform: rotate(-30deg);
	animation: swipe-motion 4s infinite;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

a.swipe-finger:active svg {
	fill: var(--color-100);
}

/* * Swipe Animation Media Query */

@media only screen and (min-width: 1024px) {
	a.swipe-finger {
		display: none;
	}
}

/* * ---------- About Section ---------- */

section#about {
  width: 100%;
  background-color: var(--color-100);
  padding: 2rem 3rem 20rem;
  position: relative;
  margin-bottom: 18rem; /* ? change when breaking news is loaded in */
  box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.75);
}

section#about article {
  margin-bottom: 4rem;
}

section#about article h2 {
  margin-bottom: 2rem;
}
section#about article p {
  margin-bottom: 2rem;
  line-height: 1.8rem;
  font-size: 1.4rem;
}

section#about aside {
  position: absolute;
  width: calc(100% - 6rem);
  background-color: var(--primary-color);
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section#about aside h2 {
  margin-bottom: 2rem;
}

section#about aside div {
  padding: 4rem;
  color: var(--color-100);
  height: 432px;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
}

@media only screen and (min-width: 464px) {  
  section#about aside h2 {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 768px) {  
  section#about aside h2 {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 1024px) {
  section#about {
    padding: 2rem 12rem;
    margin-bottom: 4rem;
    display: flex;
  }

  section#about article {
    width: 50%;
    margin-bottom: 0;

  }

  section#about aside {
    position: absolute;
    top: 2rem;
    right: 12rem;
    width: calc(50% - 14rem);
  }
  
  section#about aside h2 {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 1200px) {
  section#about aside h2 {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 1440px) {
  section#about aside h2 {
    font-size: 2.2rem;
  }
}

/* * ---------- Filter Section ---------- */

section#filter {
  width: 100%;
  padding: 2rem 3rem 0;
  margin-bottom: 2em;
}

section#filter div.error-message {
  display: none;
}


section#filter div.filter-container {
  background-color: var(--color-100);
  padding: 2rem 3rem;
  width: 100%;
  box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.75);
}
  
section#filter h2 {
  margin-bottom: 	1rem;
}

section#filter ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}
 
section#filter ul li {
  list-style-type: none;
  padding: .5rem 1rem;
  background-color: var(--color-black);
}

section#filter ul li a {
  color: var(--color-20);
  text-decoration: none;
}
/* section#filter div.filter-container ul {
  display: block;
} */

@media only screen and (min-width: 1024px) {
  section#filter {
    padding: 0 12rem;
    margin-bottom: 4rem;
  }
  
  section#filter div.error-message {
    /*TODO: MAAK ERROR MESSAGE */
  }
  
  section#filter div.filter-container {
        width: calc(50% - 2rem);
  }
}

/* * ---------- Articles Section ---------- */

section#articles {
  width: 100%;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

section#articles article {
  width: 100%;
  padding: 2rem 3rem;
  margin-bottom: 4rem;
  background-color: var(--color-100);
  box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.75);
}

section#articles article picture {
  width: 100%;
}

section#articles article picture img {
  width: 100%;
}

section#articles article h2 {
  margin-bottom: 1rem;
}

section#articles article p {
  margin-bottom: 1rem;

}


@media only screen and (min-width: 1024px) {
  section#articles {
    padding: 0 12rem 2rem;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0 4rem;
  }
  
  section#articles article {
    flex: 1 1 calc(50% - 4rem);
  }
}

/* * ---------- Footer ---------- */

footer.footer {
  padding: 2rem 3rem;
  width: 100%;
  background-color: var(--color-black);
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

footer.footer article,
footer.footer aside {
  width: 100%;
  flex: 1 1 calc(25% - 3rem);

}
footer.footer article h3,
footer.footer aside h3 {
  color: var(--color-20);
  margin-bottom: .5rem;
}

footer.footer article ul,
footer.footer aside ul {
  list-style-type: none;
}

footer.footer article ul li {
  line-height: 1.5rem;
  transition: 300ms all ease-in-out;
}

footer.footer article ul li:hover {
  margin-left: 5px;
  transition: 300ms all ease-in-out;
}

footer.footer article ul li a {
  text-decoration: none;
  color: var(--color-40);
  }
  
footer.footer article ul li a:active {
  color: var(--color-100);
}

footer.footer aside ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

footer.footer aside ul li {
  flex: 1 0 calc(50% - 10px); 
}

@media only screen and (min-width: 1024px) {
  footer.footer {
    padding: 2rem 12rem;
  }
}

/* * ---------- Second Footer ---------- */


footer.second-footer {
  width: 100%;
  background-color: var(--color-100);
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-weight: 900;
}
