/*? ---------- FS LUCAS ---------- */

@font-face {
    font-family: 'FSLucas';
    src: url('Font FS Lucas/FSLucas-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FSLucas';
    src: url('Font FS Lucas/FSLucas-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FSLucas';
    src: url('Font FS Lucas/FSLucas-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FSLucas';
    src: url('Font FS Lucas/FSLucas-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FSLucas';
    src: url('Font FS Lucas/FSLucas-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FSLucas';
    src: url('Font FS Lucas/FSLucas-ExtraBoldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

/*? ---------- Jost ---------- */

@font-face {
    font-family: 'Jost';
    src: url('Jost/Jost-VariableFont_wght.ttf') format('truetype');
    font-weight: 1 999;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('Jost/Jost-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 1 999;
    font-style: italic;
    font-display: swap;
}

/*? ---------- Plus Jakarta Sans ---------- */

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('Plus Jakarta Sans/PlusJakartaSans-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 1 999;
    font-style: italic;
    font-display: swap;
}
